@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Pacifico&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
}
.logo-bar {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 1rem;
}
span {
  color: #032742;
  font-weight: bold;
}
.jtech {
  color: #159881;
}
.logo h1 {
  font-weight: bold;
  letter-spacing: 0.3rem;
}
/* header {
  background-color: #159881; 
  color: #fff; 
  padding: 1.5rem; 
  margin-top: 1rem;
}
/* nav {
  display: flex;
  justify-content: center; 
}  */
/* Styling the navigation menu */
/* nav ul {
  list-style: none;
  display: flex;

}

nav ul li {
  margin-right: 15px; 
  
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  
} */

/* Changing the link color on hover */
/* nav a:hover {
  color: black; 
  transition: all .4s ease;
} */
.navbar {
  background-color: #159881;
}
/* Add this CSS to your style.css file */
/* Add this CSS to your style.css file */
.navbar-nav .nav-item .nav-link:hover {
  color: black !important; /* Change color on hover */
}

/* Optionally, you can add transition effects for smooth hover */
.navbar-nav .nav-item .nav-link {
  transition: color 0.3s ease; /* Smooth transition */
}

.home-content {
  /* background-image: url(img/Background7-Image.jpg); */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0.2)
    ),
    url(img/background7-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 50px;
  position: relative;
}
.home-text {
  width: 85vw;
  margin: 0 auto;
  margin-top: 18rem;
  color: #fff;
  /* color: #159881; */
  /* margin-left: 50%; */
}
/* Keyframes for text animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(
      80px
    ); /* Increase the initial translateY value for a stronger effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to home-text class's h1 element */
.home-text h1 {
  animation: fadeInUp 1.5s ease forwards;
}

/* Apply animation to home-text class's h1 element */
.home-text h1 {
  animation: fadeInUp 1.5s ease forwards;
}

.cta button {
  padding: 15px;
  border-radius: 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 12px;
}
.cta button:hover {
  transition: all 0.4s ease-out;
  background: #159881;
}
@media screen and (max-width: 768px) {
  .home-content {
    background-image: url(img/Background7-Image.jpg);
    /* background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7) 10%,
        rgba(0, 0, 0, 0.2)
      ),
      url(..img/background7-Image.jpg); */
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    padding-top: 50px;
  }

  .home-text {
    width: 80vw; /* Adjust width for smaller screens */
    margin: 0 auto;
    margin-top: 11rem;
  }
  .home-text h1 {
    font-weight: bolder;
    font-size: 25px;
  }
  .cta button {
    margin-top: 8px; /* Adjust margin as needed */
  }
}
/* Style for the container */

.container {
  display: flex; /* Add this line to enable flexbox */
  justify-content: space-between;
  width: 100% !important;
  max-width: none !important;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 6rem;
  margin-bottom: 3rem;
  align-items: center;
}

.content {
  flex: 1; /* Add this line to make content take available space */
  text-align: center;
  padding: 20px;
  align-items: center;
}

.content h1 {
  color: #333;
  font-size: 30px;
}

.content p {
  color: #666;
}

.content-image {
  flex: 1; /* Add this line to make content-image take available space */
  margin-top: 20px;
}

.content-image img {
  width: 100%;
  height: auto;
  /* border-radius: 8px; */
}
.btn button {
  padding: 0.7rem;
  margin-top: 1rem !important;
  /* border-radius: 30px; */
  border: 2px solid black;
  background-color: #159881;
  color: #fff;
  border: none;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
    margin-top: -1rem;
  }

  .content,
  .content-image {
    flex: 1; /* Maintain flexibility for content and content-image in smaller screens */
  }
  .btn button {
    padding: 0.5rem;
    margin-top: 1rem !important;
    border-radius: 30px;
    border: 2px solid black;
    background-color: #159881;
    color: #fff;
  }
}
/* Add these styles to your style.css file */

.container-1 {
  /* background-color: #f0f0f0;  */
  padding: 20px;
  margin-top: 30px; /* Adjust margin as needed */
  width: 95vw;
  margin: 0 auto;
}

.container-1 h3 {
  color: #333; /* Set your desired text color */
  font-weight: bold;
}

.container-1 p {
  color: #666; /* Set your desired text color */
}

.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 95vw;
  margin: 0 auto;
}

.container-2 div {
  text-align: center;
}

.container-2 img {
  max-width: 10%;
  height: auto;
  margin-bottom: 1rem;
}

.container-2 h3 {
  color: #333; /* Set your desired text color */
  font-weight: bold;
}

.container-2 p {
  color: #666; /* Set your desired text color */
}
@media (max-width: 768px) {
  .container-2 {
    flex-direction: column;
    width: 95vw;
    margin: 0 auto;
  }
  .container-2 img {
    max-width: 10%;
    height: auto;
  }
}
.container-services {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute space between boxes */
  flex-wrap: wrap; /* Allow boxes to wrap to the next line on smaller screens */
  background-color: black;
  padding: 20px;
  margin-top: 5rem;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  width: 100%; /* Ensure the heading takes the full width of the container */
  color: white;
}

.box-1 {
  flex: 0 0 calc(33.333% - 20px); /* Each box takes up 33.333% of the container width with some margin */
  /* border: 1px solid #ddd; */
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Add transition effect */
  color: black;
  background-color: #fff;
}

.box-1:hover {
  transform: scale(1.05); /* Scale up the box on hover */
}
.box-1 img {
  max-width: 11%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 30px !important;
}
@media (max-width: 768px) {
  .container-services {
    flex-direction: column; /* Change flex direction to stack boxes vertically */
    align-items: center; /* Center align boxes when stacked */
    /* width: 95vw;
    margin: 0 auto; */
  }

  .box-1 {
    flex: 0 0 calc(100% - 20px); /* Each box takes full width when stacked */
    border-radius: 10px;
    border: none;
  }
  .box-1 h4 {
    font-weight: bold;
  }
  .box-1 img {
    max-width: 15%;
    height: auto;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    /* padding: 10px; */
    border-radius: 30px;
  }
}
/* our process */
.our-process {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.our-process h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 10px;
  /* background-color: #032742; */
}

.our-process-text {
  text-align: center;
  margin-bottom: 30px;
}
.our-process-text p {
  margin-top: -5rem;
  width: 80vw;
  margin: 0 auto;
}
.our-process-text h3 {
  font-size: 25px;
  font-weight: bold;
}
.process {
  color: #159881;
}
.circle {
  display: flex;
  justify-content: space-around;
}

.circle-1,
.circle-2,
.circle-3 {
  text-align: center;
  padding: 20px;
  border: 2px solid #333; /* Add border */
  border-radius: 50%; /* Add border radius to make circles */
  width: 250px; /* Set width and height to make circles */
  height: 250px; /* Set width and height to make circles */
}
.circle-2 {
  margin-top: 10rem;
}
.circle h5 {
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #159881;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
}

.circle h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.circle p {
  font-size: 16px;
  color: #666;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .our-process {
    padding: 30px 0; /* Adjust padding for smaller screens */
    /* margin-top: 8rem;  */
  }

  .our-process h3 {
    font-size: 16px; /* Adjust font size for smaller screens */
  }

  .our-process-text p {
    width: 85%; /* Adjust width for smaller screens */
    margin: 0 auto; /* Center align text */
    text-align: center; /* Center align text */
    margin-top: -1rem;
  }

  .circle {
    flex-direction: column; /* Stack circles vertically for smaller screens */
    align-items: center; /* Center align circles */
  }

  .circle-1,
  .circle-2,
  .circle-3 {
    border-radius: 50%; /* Add border radius to make circles */
    width: 250px; /* Set width and height to make circles */
    height: 250px; /* Set width and height to make circles */
    height: auto; /* Adjust height of circles for smaller screens */
    margin-bottom: 2rem;
  }
  .circle-2,
  .circle-3 {
    margin-top: 1rem;
  }
}
/* end */
/* Testimonials Section */
/* Testimonials */
.Testimonials-heading {
  text-align: center;
  margin-top: 5rem;
}
.Testimonials-heading h1 {
  font-size: 20px;
  color: #159881;
  font-weight: bold;
}
.Testimonials-heading p {
  font-style: italic;
}
.Testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; /* Adjust as needed */
  width: 95vw;
  margin: 0 auto;
}

.feedback {
  background-color: #159881; /* Light background color */
  padding: 20px;
  border-radius: 10px;
  width: calc(33.33% - 20px); /* Adjust width based on your design */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.feedback:hover {
  transform: scale(1.05);
}
.feedback h2 {
  font-size: 60px;
  /* margin-bottom: 5px; */
  color: #fff;
}

.feedback h5 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.feedback p {
  font-size: 16px;
  margin-bottom: 20px;
  font-style: italic;
  color: white;
}
.title-name {
  color: #fff;
}
.feedback img {
  width: 15%;
  /* margin-top: 0rem; */
  border-radius: 50%;
  position: absolute;
  /* margin-left: 14.5rem; */
  border: 2px solid white;
  transition: transform 0.3s ease-in-out;
}
.feedback img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .Testimonials {
    flex-direction: column; /* Change flex direction to stack testimonials vertically */
    align-items: center; /* Center align testimonials */
  }

  .feedback {
    width: 95%; /* Adjust width of each testimonial */
    margin-bottom: 50px; /* Add margin between testimonials */
  }
}

/* .bg-color {
  background-color: black;
  margin-top: 2rem;
  position: relative;
  padding:3rem ;
  width: 50%;
} */

/* End */
/* Our-Team Section */
/* Add this CSS to style the our-team section */
.our-team {
  background-color: #f4f4f4;
  padding: 50px 0; /* Adjust padding as needed */
  margin-top: 10rem;
}

.team-heading {
  text-align: center;
  margin-bottom: 30px; /* Adjust margin as needed */
}

.team-heading h1 {
  font-size: 2.5rem; /* Adjust font size as needed */
  color: #333; /* Adjust color as needed */
}

.team-heading p {
  font-size: 1rem; /* Adjust font size as needed */
  color: #666; /* Adjust color as needed */
  margin-top: 20px; /* Adjust margin as needed */
  width: 70vw;
  margin: 0 auto;
}

.team-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Adjust gap between team images as needed */
  width: 95vw;
  margin: 0 auto;
}

.team-image {
  text-align: center;
  background-color: white;
  padding: 2rem;
  transition: transform 0.3s ease-in-out;
}
.team-image:hover {
  transform: scale(1.05);
}
.team-image img {
  width: 200px; /* Adjust image width as needed */
  height: 200px; /* Adjust image height as needed */
  border-radius: 50%; /* Make images circular */
  object-fit: cover; /* Ensure image covers the entire container */
}
.team-image h6 {
  font-style: italic;
}
.team-image h4 {
  margin-top: 15px; /* Adjust margin as needed */
  font-size: 1.3rem; /* Adjust font size as needed */
  color: black; /* Adjust color as needed */
  font-weight: bold;
}

.team-image p {
  font-size: 1rem; /* Adjust font size as needed */
  color: #666; /* Adjust color as needed */
}
@media screen and (max-width: 768px) {
  .our-team {
    margin-top: 2rem;
  }
  /* Adjust styles for smaller screens here */
  .team-images {
    flex-direction: column; /* Stack team images vertically */
    align-items: center; /* Center align team images */
    border-radius: 20px;
  }

  .team-image {
    margin-bottom: 20px; /* Add margin between team images */
    border-radius: 20px;
  }

  .team-image img {
    width: 150px; /* Adjust image width for smaller screens */
    height: 150px; /* Adjust image height for smaller screens */
  }

  .team-heading p {
    width: 80vw; /* Adjust paragraph width for smaller screens */
    margin: 0 auto; /* Center align paragraph */
    text-align: center; /* Center align text */
  }
}

/* End */
/* Contact-form */
/* Style for contact-form */
.contact-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85vw;
  margin: 0 auto;
  /* margin-top: 3rem; */
  color: #f2f2f2;
}
.contact-form h1 {
  font-weight: bold;
}
.background-color {
  background-color: #159881;
  padding: 3rem;
  /* position: relative; */
}
/* Style for get-in touch */
.get-intouch {
  flex: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}
.get-intouch p {
  margin-bottom: 2rem;
}
/* Style for contact-content */
.contact-content {
  flex: 1;
  /* background-color: #282828; */
  /* padding: 2rem;
  position: absolute;
  */
}

/* Additional styling for better spacing if needed */
.contact-form label {
  display: block;
  margin-bottom: 8px;
}
form {
  margin-top: 2rem;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  /* border: 2px solid orangered; */
  /* border-radius: 20px; */
}
.contact-content form {
  border: 1px solid #fff; /* Set the border style and color as per your design */
  padding: 20px; /* Add padding for better aesthetics */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}
.contact-form button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
.contact-form button:hover {
  transition: all 0.4s ease;
  background: transparent;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
/* Add more styling as needed */
/* Style for get-intouch images */
.get-intouch img {
  max-width: 5%;
  height: auto;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

/* Style for contact-content images */
.contact-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Adjust the margin as needed */
}
/* Style for contact-phone, contact-email, contact-twitter, and contact-fb */
.contact-phone,
.contact-email,
.contact-twitter,
.contact-fb {
  display: flex;
  align-items: center;
  margin-top: px; /* Adjust the margin as needed */
}

/* Style for the images within contact-phone, contact-email, contact-twitter, and contact-fb */
.contact-phone img,
.contact-email img,
.contact-twitter img,
.contact-fb img {
  max-width: 24px; /* Adjust the max-width as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Additional styling for text within contact-phone, contact-email, contact-twitter, and contact-fb */
.contact-phone p,
.contact-email p,
.contact-twitter p,
.contact-fb p {
  margin: 0;
}
/* Media query for screens with a maximum width of 768 pixels */
@media screen and (max-width: 768px) {
  /* Select the contact-form class */
  .contact-form {
    /* Adjust the styling for the contact-form on smaller screens */
    flex-direction: column; /* Change the flex direction to stack items vertically */
    align-items: center; /* Center align items */
    width: 75vw; /* Set the width of the contact-form */
    margin: 0 auto; /* Center the contact-form horizontally */
    /* margin-top: rem; */
  }

  /* Additional styling for better spacing if needed */
  .contact-form label {
    display: block;
    margin-bottom: 8px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: none;
  }

  .contact-content form {
    border: 1px solid #fff; /* Set the border style and color as per your design */
    padding: 20px; /* Add padding for better aesthetics */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  }

  .contact-form button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
  }

  /* Style for get-in touch images */
  .get-intouch img {
    max-width: 5%;
    height: auto;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  /* Style for contact-content images */
  .contact-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  /* Style for contact-phone, contact-email, contact-twitter, and contact-fb */
  .contact-phone,
  .contact-email,
  .contact-twitter,
  .contact-fb {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  /* Style for the images within contact-phone, contact-email, contact-twitter, and contact-fb */
  .contact-phone img,
  .contact-email img,
  .contact-twitter img,
  .contact-fb img {
    max-width: 20px; /* Adjust the max-width as needed */
    margin-right: 10px; /* Adjust the margin as needed */
  }

  /* Additional styling for text within contact-phone, contact-email, contact-twitter, and contact-fb */
  .contact-phone p,
  .contact-email p,
  .contact-twitter p,
  .contact-fb p {
    margin: 0;
    font-size: 10px;
  }
}

/* Footer */

.footer-bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 40px;
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .footer-bg {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 40px;
    text-align: center;
    width: 100vw;

    margin: 0 auto;
  }
}
.footer-bg .about p {
  margin: 0; /* Remove default margin for the paragraph */
}

.footer-bg .cta-abt button {
  background-color: #fff;
  color: white;
  padding: 10px 15px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 30px;
  background: transparent;
  width: 20vw;
}
@media screen and (max-width: 768px) {
  .footer-bg .cta-abt button {
    background-color: #fff;
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 30px;
    background: transparent;
    margin-top: 2rem;
    width: 60vw;
  }
}
.footer-bg-one {
  background-color: black;
}
/* style.css */

/* Style for the footer-content class */
.ftr {
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  /* background-image: url(img/footer-img.jpg); */
  background: linear-gradient(rgba(40, 40, 40, 0.8), rgba(40, 40, 40, 0.5)),
    url(img/footer-img.jpg);
  background-size: cover;
  background-size: cover;
  background-position: center;
}

.company,
.contact,
.address {
  margin-bottom: 20px; /* Add margin between the sections */
  text-align: center;
  margin-top: 3rem;
  color: #fff;
}
.social-icons {
  margin-top: 10px;
}
.social-icons a {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  color: white;
}
.company h1,
.contact h1,
.address h1 {
  color: #fff;
}

.company ul {
  list-style: none; /* Remove the default list styling */
  padding: 0; /* Remove default padding */
}

.company li a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Set the color for the links */
  display: block; /* Make the links block-level for better spacing */
  margin-bottom: 5px; /* Add margin between the links */
}
.company li a:hover {
  transition: all 0.4s ease;
  color: #159881;
}
/* Additional styling for the contact information */
.contact p {
  margin: 5px 0; /* Add margin to the contact paragraphs */
}
@media screen and (max-width: 768px) {
  .ftr {
    flex-direction: column;
    background-color: #282828;
    /* padding: 20px; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    color: #fff;
  }
  .line {
    display: none;
  }
}
footer {
  background-color: white;
  color: black;
  text-align: center;
  /* padding: 10px 10px; */
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 100%; */
  /* align-items: center; */
}
.footer-content p {
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
